/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

/* components */
:root {
  --color-main: #03363d;
  --color-secondary: #174d4d;
}

/* button */
.btn {
  background-color: var(--color-secondary);
  color: white !important;
}

/* HEADER START */

header {
  background-image: url("/assets/Jumbotron.png");
  background-size: cover;
  width: 100%;
  height: 900px;
  max-height: 900px;
}

/* NAVBAR */
.navbar {
  height: 3.125 rem;
  width: 100%;
  color: var(--color-main);
}

.navbar__wrapper {
  padding: 0 10rem;
  margin: 0;
  line-height: 3.125rem;
}
/* navLeft */
.navbar__left {
  float: left;
  text-transform: uppercase;
}

.navbar__left > h1 {
  font-weigth: bold;
  font-size: 1.5rem;
  font-style: normal;
}
/* navRight */
.navbar__right {
  text-align: right;
}

.navbar__right > ul > li {
  display: inline-block;
  --tw-space-x-reverse: 0;
  margin-right: calc(4rem * var(--tw-space-x-reverse));
  margin-left: calc(4rem * calc(1 - var(--tw-space-x-reverse)));
}

.navbar__right > ul > li > a {
  font-style: normal;
  font-size: 16px;
  color: var(--color-main);
}

.contact {
  padding: 5px 15px;
}

/* jumbotron */

.jumbotron {
  margin: 13.125rem 10rem;
  text-align: center;
}

.jumbotron > h1 {
  margin-bottom: 5rem;
  color: var(--color-main);
  font-size: 4rem;
}

.learn {
  padding: 0.75rem 3rem;
}

.small__jumbotron {
  height: 18.75rem;
  background-color: white;
  margin: 13.125rem 10rem;
  text-align: center;
}

.small__jumbotron > h2 {
  font-size: 3rem;
  color: var(--color-main);
  weigth: 600;
  line-height: 18.75rem;
}

/* HEADER END */

/* MAIN START */
.card {
  margin: 0 10rem;
  height: 43.75rem;
}

/* Projects */

.project {
  margin-top: 15rem;
}

.project > article > h2 {
  font-size: 2rem;
  text-align: center;
  color: var(--color-main);
  text-decoration: underline;
}

.project > article > section {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 3rem;
  justify-items: center;
}

.project img {
  width: 21rem;
  height: 14 rem;
}

.project p {
  max-width: 21rem;
  margin-top: 3.125rem;
  color: var(--color-secondary);
  font-size: 1.25rem;
}
